* {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {

    margin: 0;
    height: 100vh;
    width: 100%;
}

#svgQuadrillage {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #121111;

}

.svgcurve {
    position: absolute;
    width: 100%;
    height: 100vh;

}

#maincurve {
    stroke: #76ABAE;
    stroke-width: 5px;
}

#tangeante {
    stroke: #f43020;
    stroke-width: 5px;
}

.cardContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    background: rgb(150, 150, 150, 0.35);
    backdrop-filter: blur(4px);
    border: 1px solid rgb(150, 150, 150, 0.75);
    border-radius: 15px;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}


.title {
    color: #ffffff;
    font-size: 50pt;
}

.subtitle {
    color: white;
    font-size: 20pt;
}

#maincurve {
    /*stroke-dasharray: 500% 500%;*/
    /*stroke-dashoffset: 1000%;*/
    /*animation: dash 3s linear forwards;*/
}

/*@keyframes dash {*/
/*    to {*/
/*        stroke-dashoffset: 500%;*/
/*    }*/

/*}*/