.sommaireCard {
    position: relative;
    margin: 2vh;
    padding-left: 15px;
    padding-top: 10px;
    width: 40%;
    height: 40vh;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    transform: translate(0px);
    box-sizing: border-box;
    box-shadow: 0 0 200px 20px #2d494d;

}

.sommaireCard:hover {
    backdrop-filter: blur(50px);
    z-index: 1000;

    box-shadow: 0 0 150px 50px #e5c185;
}

#sommaireCard2 {
    left: 28%;
    top: -15vh;
}


#sommaireCard1 {
    transform-origin: 0 0;
}

#sommaireCard3 {
    right: calc(-60% + 4vh);
    top: -28vh;
    transform-origin: 100% 100%;
}

.sommaireCardTitle {
    font-size: 30pt;
    margin: 0;
}

.clickedCard {
    transition: 1s;
    height: calc(100vh);
    border: none;
    width: calc(100%);
    z-index: 1000;
    margin: 0;
    backdrop-filter: blur(50px);
    pointer-events: none;
    background-color: #121111;
    border-radius: 0;

}

.clickedCard p {
    transition: 1s;
    opacity: 0;
}

.unclickedCard {
    pointer-events: none;
}

/*.descrSommaire {*/
/*    background: rgba(255, 255, 255, 0.3);*/
/*    align-self: center;*/

/*    height: 90%;*/
/*    width: 50%;*/
/*    backdrop-filter: blur(5px);*/
/*    position: absolute;*/
/*    top: 1vh;*/
/*    border: inherit;*/
/*    border-radius: inherit;*/
/*    right: 1vh;*/


/*}*/